<!DOCTYPE html>
<html th:lang="${#locale}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/wood.css" type="text/css"
    media="screen" />
</head>
<body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/menu :: menu">
    </div>
    <div class="body">
        <div id="main">
            <p th:text="#{virtualpets-server-springboot.site.information_brief}"></p>
            <H2 th:text="#{virtualpets-server-springboot.site.food_list}"></H2>
            <p>
            <ul style="list-style-type: square;">
                <li th:text="#{virtualpets-server-springboot.site.carrot}"></li>
                <li th:text="#{virtualpets-server-springboot.site.dry_food}"></li>
                <li th:text="#{virtualpets-server-springboot.site.fish}"></li>
                <li th:text="#{virtualpets-server-springboot.site.ice_cream}"></li>
                <li th:text="#{virtualpets-server-springboot.site.apple}"></li>
                <li th:text="#{virtualpets-server-springboot.site.cabbage}"></li>
                <li th:text="#{virtualpets-server-springboot.site.chocolate}"></li>
                <li th:text="#{virtualpets-server-springboot.site.french_fries}"></li>
                <li th:text="#{virtualpets-server-springboot.site.japanese_rolls}"></li>
                <li th:text="#{virtualpets-server-springboot.site.pie}"></li>
                <li th:text="#{virtualpets-server-springboot.site.potatoes}"></li>
                <li th:text="#{virtualpets-server-springboot.site.sandwich}"></li>
                <li th:text="#{virtualpets-server-springboot.site.banana}"></li>
                <li th:text="#{virtualpets-server-springboot.site.watermelon}"></li>
            </ul>
            </p>
            <H2 th:text="#{virtualpets-server-springboot.site.building_materials_list}"></H2>
            <p>
            <ol style="list-style-type: lower-greek;">
            <li th:text="#{virtualpets-server-springboot.site.timber}"></li>
            <li th:text="#{virtualpets-server-springboot.site.board}"></li>
            <li th:text="#{virtualpets-server-springboot.site.stone}"></li>
            <li th:text="#{virtualpets-server-springboot.site.chip}"></li>
            <li th:text="#{virtualpets-server-springboot.site.wire}"></li>
            <li th:text="#{virtualpets-server-springboot.site.iron}"></li>
            <li th:text="#{virtualpets-server-springboot.site.oil}"></li>
            <li th:text="#{virtualpets-server-springboot.site.blue_crystal}"></li>
            <li th:text="#{virtualpets-server-springboot.site.rubber}"></li>
            </ol>
            </p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">
    </div>
</body>
</html>


