<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
    th:lang = "${#locale.toLanguageTag()}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/wood.css" type="text/css"
    media="screen" />
</head>
<body>
    <div th:replace="fragments/header :: header">
    </div>
    <div th:replace="fragments/menu :: menu">
    </div>
    <div class="body">
        <div id="main">

            <H1 th:text="#{virtualpets-server-springboot.site.information}"></H1>
            <ul>
            <li>
                <a th:href="@{/site/information/gameHelp}" th:text="#{virtualpets-server-springboot.site.game_help}"></a>
            </li>
            <li>
                <a th:href="@{/site/information/serverInfo}" th:text="#{virtualpets-server-springboot.site.server_info}"></a>
            </li>
            <li>
                <a th:href="@{/site/information/statistics}" th:text="#{virtualpets-server-springboot.site.statistics}"></a>
            </li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">
    </div>
</body>
</html>
